<strong>Criação de conta</strong>

<p>Parabéns! Sua conta com o email {{email}} foi criada com sucesso em {{created_at}}</p>

<p>Você pode clicar no botão abaixo para acessá-la</p>

<button><a href="{{link}}">Redefinir senha</a></button>